[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==1.2.2"
pandas = "*"
pyarrow = "*"
numpy = "==1.26.4"
click = "*"

[dev-packages]
jupyter = "*"
seaborn = "*"
pytest = "*"
numpy = "==1.26.4"

[requires]
python_version = "3.10"
python_full_version = "3.10.10"
